.slider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	margin-bottom: 4rem;
}
.slider-image {
	max-height: 500px;
	max-width: 90vw;
	border-radius: 10px;
}

.slider-text {
	position: absolute;
	width: 500px;
	text-align: center;
}

.slider-btn {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.slider-btn button:hover {
	cursor: pointer !important;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 20px;
	font-size: 3rem;
	color: white;
	cursor: pointer;
	z-index: 10;
	user-select: none;
}
.left-arrow {
	position: absolute;
	top: 50%;
	left: 20px;
	font-size: 3rem;
	color: white;
	cursor: pointer;
	z-index: 10;
	user-select: none;
}

.slide {
	position: relative;
	opacity: 0.3;
	transition: all 1s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slide.active {
	opacity: 1;
	transition: all 1s ease;
	transform: scale(1.03);
}
