:root {
	font-family: "Inconsolata", monospace;
	font-size: 19px;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #943434;
}
header {
	display: flex;
	flex-direction: column;
	background-color: white;
}
.logo {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 2rem;
}
.upper-nav {
	color: #943434;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}
.upper-nav-links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}
.upper-nav-links * {
	color: #943434;
	margin-left: 1rem;
	text-decoration: none;
}
.lower-nav {
	background-color: #570101;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}
.lower-nav * {
	color: white;
	padding: 0.4rem;
	text-decoration: none;
}
a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main h2,
main h4,
main p {
	color: white;
}
button {
	font-family: "Inconsolata", monospace;
	font-size: 1rem;
	border: none;
	text-align: center;
	vertical-align: bottom;
	border-radius: 50px;
	padding: 0.5rem 1rem;
	color: black;
}
button:active {
	transform: scale(0.95);
}
.card-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 1.5rem;
	margin: 2rem;
}
.cart-items-container {
	background-color: white;
	margin: 2rem;
	border-radius: 10px;
}
.cart-items-total {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
}

@media (max-width: 750px) {
	:root {
		font-size: 17px;
	}
}

@media (max-width: 550px) {
	:root {
		font-size: 15px;
	}
	button {
		font-size: 0.8rem;
	}
	.card-container {
		gap: 1rem;
	}
	.cart-items-container {
		margin: 1rem;
	}
	.upper-nav {
		flex-direction: column;
		gap: 1rem;
	}
	.logo {
		margin: 0;
	}
}
