:root {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

header {
	display: flex;
	flex-direction: column;
}
.upper-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.upper-nav-links {
	margin-right: 1rem;
}
.upper-nav-links * {
	margin: 1.5rem;
}
.lower-nav {
	/* background-color: black;
	color: white; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.card-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 2rem;
}
.card {
	border: black 2px solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-info {
	padding: 1rem;
	border-top: solid 1px black;
}
.button-container {
	margin-bottom: 1rem;
	display: flex;
	gap: 0.5rem;
}
button {
	padding: 0.5rem;
	border: none;
	text-align: center;
	vertical-align: bottom;
}
.add-to-cart-btn {
	/* background-color: mediumturquoise; */
	border-radius: 50px;
	padding: 0.5rem 1rem;
}
.toggle-wishlist-btn {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 150px;
	width: 150px;
}
