:root {
	font-family: "Inconsolata", monospace;
	font-size: 19px;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #943434;
}
header {
	display: flex;
	flex-direction: column;
	background-color: white;
}
.upper-nav h3 {
	font-family: "Bodoni Moda", serif;
	font-weight: bold;
	margin-left: 2rem;
}
.upper-nav {
	color: #943434;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.upper-nav-links {
	margin-right: 1rem;
}
.upper-nav-links * {
	color: #943434;
	margin: 1.5rem;
	text-decoration: none;
}
.lower-nav {
	background-color: #570101;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}
.lower-nav * {
	color: white;
	padding: 0.4rem;
	text-decoration: none;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 2rem;
	margin: 2rem;
}
